@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.entry {
    display: flex;
    height: 340px;
    width: 227px;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* flip card css
https://www.w3schools.com/howto/howto_css_flip_card.asp */

.entry img {
    height: 340px;
    width: 227px;
}

.entry-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.entry:hover .entry-inner {
    transform: rotateY(180deg);
}

.entry-front,
.entry-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    display: flex;
}

.entry-front {
    background-color: #bbb;
    color: rgb(32, 30, 30);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.entry-back {
    background-color: grey;
    transform: rotateY(180deg);
    color: rgb(32, 30, 30);
    justify-content: space-around;
    flex-flow: column nowrap;
    padding: 5px;
}

.entry-back .review {
    padding: 10px;
    display: block; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    margin-left: 0; 
    margin-right: 0;
    overflow: auto;
}
.entry-back .stars{
    font-weight: bold;
    font-size: large;
    padding: 1em;
}

#content {
    display: flex;
    margin: 25px auto;
    gap: 25px;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
    justify-self: center;
    align-self: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

#diaryForm {
    display: block;
    margin: auto;
    text-align: center;
}
input{
    background-color: rgb(60, 60, 60);
    color: rgb(155, 143, 160);
}

html {
    display: block;
    max-width: 90%;
    margin: auto;
    background-color: rgb(95, 95, 95);
    color: rgb(33, 33, 33);
    font-family: 'Montserrat', sans-serif;
}