.entry {
    display: flex;
    height: 340px;
    width: 227px;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* flip card css
https://www.w3schools.com/howto/howto_css_flip_card.asp */

.entry img {
    height: 340px;
    width: 227px;
}

.entry-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.entry:hover .entry-inner {
    transform: rotateY(180deg);
}

.entry-front,
.entry-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    display: flex;
}

.entry-front {
    background-color: #bbb;
    color: rgb(32, 30, 30);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.entry-back {
    background-color: grey;
    transform: rotateY(180deg);
    color: rgb(32, 30, 30);
    justify-content: space-around;
    flex-flow: column nowrap;
}

.entry-back .review {
    padding: 10px;
}

#content {
    display: flex;
    margin: 25px auto;
    gap: 25px;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
    justify-self: center;
    align-self: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

#diaryForm {
    display: block;
    margin: auto;
    text-align: center;
}

html {
    display: block;
    max-width: 90%;
    margin: auto;
}